#Mfolozi Dlamini
##BSAN-6070 CA06 kNN Based Recommender Engine

##April 4th, 2022

#1. Import Packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

#2. Load the dataset and check intial loading

In [2]:
url ='https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv'
data = pd.read_csv(url)
data.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

#3. Exploratory Data Analysis

In [3]:
#statistical description of data
display(data.describe())
#display number of non null values per column
display(data.count)
#display the shape of the data (rows,columns)
data.shape
#displaying data types
data.info()

,Movie ID,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.0
mean,48.133333,7.696667,0.233333,0.600000,0.100000,0.100000,0.133333,0.100000,0.100000,0.0
std,29.288969,0.666169,0.430183,0.498273,0.305129,0.305129,0.345746,0.305129,0.305129,0.0
min,1.000000,5.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,27.750000,7.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,48.500000,7.750000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,64.250000,8.175000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,98.000000,8.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

<bound method DataFrame.count of     Movie ID                        Movie Name  IMDB Rating  Biography  Drama  \
0         58                The Imitation Game          8.0          1      1
1          8                        Ex Machina          7.7          0      1
2         46                  A Beautiful Mind          8.2          1      1
3         62                 Good Will Hunting          8.3          0      1
4         97                      Forrest Gump          8.8          0      1
5         98                                21          6.8          0      1
6         31                            Gifted          7.6          0      1
7          3               Travelling Salesman          5.9          0      1
8         51                            Avatar          7.9          0      0
9         47                    The Karate Kid          7.2          0      1
10        50            A Brilliant Young Mind          7.2          0      1
11        49                    A Time To Kill          7.4          0      1
12        30                      Interstellar          8.6          0      1
13        94           The Wolf of Wall Street          8.2          1      0
14         6                     Black Panther          7.4          0      0
15        73                         Inception          8.8          0      0
16        44                    The Wind Rises          7.8          1      1
17        65                     Spirited Away          8.6          0      0
18        48                 Finding Forrester          7.3          0      1
19        27                      The Fountain          7.3          0      0
20        57                  The DaVinci Code          6.6          0      0
21        57                 Stand and Deliver          7.3          0      1
22        14                    The Terminator          8.0          0      0
23        69                    21 Jump Street          7.2          0      0
24        98                      The Avengers          8.1          0      0
25        17                    Thor: Ragnarok          7.9          0      0
26        12  Spirit: Stallion of the Cimarron          7.1          0      0
27         1                     Hacksaw Ridge          8.2          1      1
28        86                  12 Years a Slave          8.1          1      1
29        46                    Queen of Katwe          7.4          1      1

    Thriller  Comedy  Crime  Mystery  History  Label
0          1       0      0        0        0      0
1          0       0      0        1        0      0
2          0       0      0        0        0      0
3          0       0      0        0        0      0
4          0       0      0        0        0      0
5          0       0      1        0        1      0
6          0       0      0        0        0      0
7          0       0      0        1        0      0
8          0       0      0        0        0      0
9          0       0      0        0        0      0
10         0       0      0        0        0      0
11         1       0      1        0        0      0
12         0       0      0        0        0      0
13         0       1      1        0        0      0
14         0       0      0        0        0      0
15         0       0      0        0        0      0
16         0       0      0        0        0      0
17         0       0      0        0        0      0
18         0       0      0        0        0      0
19         0       0      0        0        0      0
20         1       0      0        1        0      0
21         0       0      0        0        0      0
22         0       0      0        0        0      0
23         0       1      1        0        0      0
24         0       0      0        0        0      0
25         0       1      0        0        0      0
26         0       0      0        0        0      0
27         0       0      0        0        1      0
28         0       0      0        0        1      0
29         0       0      0        0        0      0  >

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

In [4]:
#look for null values
data.isnull().sum()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [5]:
#dropping irrelevant column because data is not being used for classification or regression
data.drop(columns='Label',inplace=True)

#4. Building the Recommender System using kNN

In [6]:
#Slice the data to include only IMDB rating and 7 genres used for kNN model
feature_cols = ['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']
# Features
X = data[feature_cols]
#target variable
y = data[['Movie Name']]

In [7]:
#Train and fit the model
neighbors=KNeighborsClassifier(n_neighbors=5)
neighbors.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [8]:
#Following is the genre information about the movie “The Post”
#IMDB Rating = 7.2, Biography = Yes, Drama = Yes, Thriller = No, Comedy = No, Crime = No,
#Mystery = No, History = Yes

target_var = neighbors.kneighbors([[7.2,1,1,0,0,0,0,1]], return_distance=False)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

#5. Recommendation System

In [9]:
#recommendation system implementation
for movie in target_var:
  recommend = data.iloc[movie]['Movie Name']

print(f'Based on your interest in "The Post" we recommend the following movies: \n{recommend}')

Based on your interest in "The Post" we recommend the following movies:
28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object